<% include ../partials/nav.ejs%>
<% include ../partials/_msg.ejs%>
<div class="row">
  <div class="col-md-6 mx-auto">    
    <div class="card card-body">
      
      <!--error variable set by passport-->
      <% if (error!=''){%>
          <div class="alert alert-danger"><%=error%></div>
      <%}%>
      <img src="/img/logo.png" class="logo" alt="logo">
      <h3 class="text-center">Account Login</h3>
      <form method="POST" action="/users/login">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>  
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
     
    </div>
  </div>
</div>